.q-btn {
  background: #ffca1f;
  border-radius: 40px !important;
  border: none;
  padding: 14px 20px;
  width: 95%;
  margin:0 auto;

  font-family: "Red Hat Display" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #20242a;

  &:hover {
    background: #ffca1f;
    opacity: 0.5;
  }

  &__box{
    background-color: #20242A;
  }
}

.button-icon {
  font-size: 24px;
  color: #31363f;
}
