.widget-title {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.widget-heading{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 28px;
    color: #ffffff;

    @media (max-width: 1024px){
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 24px;
  }
}

.title-col{
    position: relative;
}


